@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 174.7 100% 95%;
    --foreground: 174.7 5% 0%;
    --card: 174.7 50% 90%;
    --card-foreground: 174.7 5% 10%;
    --popover: 174.7 100% 95%;
    --popover-foreground: 174.7 100% 0%;
    --primary: 174.7 83.9% 31.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174.7 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 136.7 30% 85%;
    --muted-foreground: 174.7 5% 35%;
    --accent: 136.7 30% 80%;
    --accent-foreground: 174.7 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 174.7 5% 90%;
    --border: 174.7 30% 50%;
    --input: 174.7 30% 18%;
    --ring: 174.7 83.9% 31.6%;
    --radius: 1.1rem;
  }
  .dark {
    --background: 174.7 50% 5%;
    --foreground: 174.7 5% 90%;
    --card: 174.7 50% 0%;
    --card-foreground: 174.7 5% 90%;
    --popover: 174.7 50% 5%;
    --popover-foreground: 174.7 5% 90%;
    --primary: 174.7 83.9% 31.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174.7 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 136.7 30% 15%;
    --muted-foreground: 174.7 5% 60%;
    --accent: 136.7 30% 15%;
    --accent-foreground: 174.7 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 174.7 5% 90%;
    --border: 174.7 30% 18%;
    --input: 174.7 30% 18%;
    --ring: 174.7 83.9% 31.6%;
    --radius: 1.1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: "geist";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist.woff2) format("woff2");
  }

  @font-face {
    font-family: "geist-mono";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/geist-mono.woff2) format("woff2");
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^="text-"] {
    color: transparent;
    @apply rounded-md bg-foreground/20 select-none animate-pulse;
  }

  .skeleton-bg {
    @apply bg-foreground/10;
  }

  .skeleton-div {
    @apply bg-foreground/20 animate-pulse;
  }
}

.ProseMirror {
  outline: none;
}

.suggestion-highlight {
  @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}
